/*===================Slick Carouser==========================*/
.slick-arrow {
    background: #7f7b82;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.7s;
}
.slick-arrow:hover {
    background: #6c696e;
}

.slick-next{
    margin-right:18px;
}

.slick-prev {
    margin-left: 18px;
}

/*book cards in index*/
.book-thumb{
    height:222px;
    width:161px;
}