#category-table_wrapper {
    display: block;
}

#coverType-table_wrapper {
    display: block;
}

#books-table_wrapper {
    display: block;
}

#company-table_wrapper {
    display: block;
}

#users-table_wrapper {
    display: block;
}


.pagination {
    float: right;
}

